
.body
{
    border: solid 1px red;
    width: 100%;
    height: 70%;
    margin: -8px -8px -8px -8px;
    padding-bottom: 10px;
}

.head
{
    background-color: lightgray;
    border: solid 1px red;
    width: 70%;
    height: 130px;
    margin-left: 15%;
    margin-top: 2%;
}

.menu
{
    background-color: lightgray;
    border: solid 1px red;
    color: black;
    width: 70%;
    margin-left: 15%;
    height: 20px;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
.body a
{
    text-decoration: none;
    color: grey;
}

.body a:hover
{   
    text-decoration: none;
   font-weight: bold;
   color: black;
}

.body a:active
{
    color: red;
    font-weight: bold;
}



.content
{
    background-color: white;
    border: solid 1px red;
    width: 70%;
    margin-left: 15%;
    height: 100%;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 0%;
}
.foot
{
    text-align: left;
    position: absolute;
    left: 15%;
}