.body{
    width: 100%;
    border: solid 1px red;
    box-sizing: content-box;
    margin: -8px;
}

.head{
    text-align: center;
    width: 70%;
    border: solid 1px red;
    margin-left: 15%;
    margin-top: 1%;
}

.menu{
    text-align: center;
    width: 70%;
    border: solid 1px red;
    margin-left: 15%;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    font-weight: bold;
}

.menu a:active{
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.content{
    text-align: center;
    width: 70%;
    border: solid 1px red;
    margin-left: 15%;
    height: auto;
}

.foot{
    padding-left: 15%;
}
