html{
    margin: 0;
    padding: 0;
}

.body{
    border: solid 1px red;
    margin: -8px;
}

.columnleft{
    border: solid 1px red;
    float: left;
    width: 15%;
    box-sizing: border-box;
    height: 80%;
}

.content{
    float: left;
    text-align: center;
    width: 70%;
    height: auto;
    box-sizing: border-box;
    border: solid 1px red;
}

.columnright{
    float: left;
    width: 15%;
    box-sizing: border-box;
    height: 80%;
    border: solid 1px red;
}

.foot{
    clear: both;
    width: 100%;
    float: left;
    box-sizing: border-box;
    border: solid 1px red;
}