.body
{
    border: solid 1px #BD3D3A;
    width: 100%;
    height: 93%;
    margin: -8px -8px -8px -8px;
    position: absolute;
    top:1%;
}

.head
{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}


.columnleft
{   
    background-color: lightgray;
    width: 14%;
    height: 75%;
    position: relative;
    float: left;
    border: solid 1px #BD3D3A;
    clear: left;
    margin-left: 0.1%;
}

.picture
{
    clear: both;
    background-color: gray;
    width: 60%;
    height: auto;
    margin-left: 3%;
    float: left;
}

.menu
{
    background-color: gray;
    clear: both;
    width: calc(70% - 2px);
    height: 30%;
    margin-left: 15%;
    float: left;
    display:inline-table;
}

.menu a
{
    color: #BD3D3A;
}

.content
{   
    margin-left: 0.1%;
    margin-right: 0.1%;
    width: 71.1%;
    border: solid 1px #BD3D3A;
    position: relative;
    float: left;
}

.columnright
{   
    background-color: gray;
    margin-right: 0.1%;
    width: 14%;
    height: 75%;
    position: relative;
    border: solid 1px #BD3D3A;
    float: left;
}

.foot
{
    border: solid 1px #BD3D3A;
    clear: both;
    width: 99%;
    height: 6%;
    position: absolute;
    bottom: 0.7%;
    left: 0.4%;
    right: 1%;
}
.body a
{
    text-decoration: none;
}

.body a:hover
{   
    text-decoration: none;
   font-weight: bold;
}

.body a:active
{
    color: #BD3D3A;
    font-weight: bold;
}

@media print {
    .menu
    {
        display: none;
    }
    .head img
    {
        display: none;
    }
    .body
    {
        border: solid 1px black;
    }
    .columnleft
    {
        border: solid 1px black;
        height: 80%;
    }
    .menu a
{
    color: black;
}
.columnright
{
    border: solid 1px black;
    height: 80%;
}
.content
{  
    border: solid 1px black;
    width: 69.8%;
    margin-left: 0.1%;
}
.foot
{
    border: solid 1px black;
}
}

/*@media only screen and (max-width: 1200px)  {
    .head
    {
        display: none;
    }
    .columnright
    {
        display: none;
    }
    .content
    {
        width: 70%;
    }
    
}
*/